@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=DotGothic16&family=Monomaniac+One&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body *{
    font-family: "Noto Sans JP", sans-serif  !important;
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}

/* @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kosugi&family=Noto+Sans+JP&family=Slackside+One&family=Zen+Maru+Gothic&display=swap');

body *{
    font-family: "Zen Maru Gothic", sans-serif  !important;
    font-size: 17px;
    font-weight: 550;
    color: #091747;
} */